@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.header-logo {
  background-image: url("../../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100px;
}

.max-width-800 {
  max-width: 800px;
}
.max-width-300 {
  max-width: 300px;
}

// .navbar {
//   // background-color: #ff3c3c;
//   // background-color: #fdcd2d;
// }
.nav-link {
  width:
  border: 1px solid #343a40;
  &:hover {
    background-color: #ffc107;
    color: #000000;

    // background-color: #5c4141;
    // margin: 0px;
    border-radius: 8px;
    a {
      color: #000;
    }
  }
}

// .active {

//   color: #000;
//   background-color: #ffd30e;
//   a {
//     color: #000;
//   }
//   // font-weight: bold;
//   border-radius: 8px;
// }