@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "navbar";

.header-logo {
  background-image: url("../../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100px;
}

.max-width-800 {
  max-width: 800px;
}
.max-width-300 {
  max-width: 300px;
}
.navbar-collapse a.nav-link {
  color: #ffc107;
}
.navbar-nav {
  .nav-link-hover {
    &:hover {
      color:#ffc107;
      background-color: #ff3c3c;
      a {
      }
    }
  // background-color: #fdcd2d;
  }
}
.nav-link, .navbar-collapse {
  &:hover {
    // background-color: #ffc107;
    color: #f3f59a !important;
    // background-color: #ffc107;
    // border: 1px solid #ffc107;
    // background-color: #5c4141;
    // margin: 0px;
    border-radius: 8px;
    // a {
      //   color: #fff;
      // }
    }
    a.nav-link {
    width: 60px;
    // color: #ffc107;
  }
  .active {
    background-color: #0717ff;
    color: #b84545;
  }
}
