@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

.header-logo {
  background: url("../../img/logo.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 1200px;
}